body {
    background-color: lightblue;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    font-size: 26px;
    color: maroon;
}

p {
    text-align: justify;
    font-size: 18px;
}

hr {
    height: 3px;
    color: black;
    background-color: black;
}

ul {
    font-size: 18px;
}

ol{
    font-size: 18px;
}